<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <img class="d-block img-fluid" src="assets/pick_n_pay_logo_01.png">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                        
                <li class="nav-item">
                    <a class="nav-link" routerLink="/product-list">View Product</a>
                </li>
            </ul>
            <div><button>
                <a (click)="logOut()">Log Out</a>
            </button></div>

            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">WELCOME TO PICK N PAY ONLINE SHOPPING</h1>
    </div>
</section>
<div class="container" align="center">
    <table class="table table-striped" border="1">
        <thead>
            <th>ID</th>
            <th>productName</th>
            <th>price</th>
            <th>Quantity</th>
            <th>Minimum Quantity</th>
            <th>picture</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.productId}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.price | currency:"R"}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.minimumQuantity}}</td>
                <td>
                    <img [src]="product.picture" height="100px;" width="100px;">>
                </td>
                <td>
                    <button class="btn btn-warning" (click)="updateProduct(product)" *ngIf="!updateDisabled">
                        Update
                    </button>
                    <button class="btn btn-danger" (click)="deleteProduct(product)">Delete</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>

<!-- Footer -->
<footer class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Informations</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                <h5>Others links</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li>
                        <i class="fa fa-home mr-2"></i>Pick n Pay</li>
                    <li>
                        <i class="fa fa-envelope mr-2"></i>CUSTOMER SUPPORT Submit your query</li>
                    <li>
                        <i class="fa fa-phone mr-2"></i>CUSTOMER CARELINE 0800 11 22 88 Mon-Sat: 08:00-19:00 Sun & public holidays: 09:00-17:00</li>

                    <li>
                        <i class="fa fa-phone mr-2"></i>CUSTOMER CARELINE 0800 11 22 88 Mon-Sat: 08:00-19:00 Sun & public holidays: 09:00-17:00</li>

                </ul>
            </div>
        </div>
    </div>
</footer>
